[submodule "fcc/tribute"]
	path = fcc/tribute
	url = https://github.com/bakoushin/fcc-tribute.git
	branch = master
[submodule "fcc/portfolio"]
	path = fcc/portfolio
	url = https://github.com/bakoushin/fcc-portfolio.git
	branch = master
[submodule "fcc/quotes"]
	path = fcc/quotes
	url = https://github.com/bakoushin/fcc-quotes.git
	branch = master
[submodule "fcc/weather"]
	path = fcc/weather
	url = https://github.com/bakoushin/fcc-weather.git
	branch = master
