[submodule "fcc/tribute"]
	path = fcc/tribute
	url = https://github.com/bakoushin/fcc-tribute.git
	branch = master
[submodule "fcc/portfolio"]
	path = fcc/portfolio
	url = https://github.com/bakoushin/fcc-portfolio.git
	branch = master
[submodule "fcc/quotes"]
	path = fcc/quotes
	url = https://github.com/bakoushin/fcc-quotes.git
	branch = master
[submodule "fcc/weather"]
	path = fcc/weather
	url = https://github.com/bakoushin/fcc-weather.git
	branch = master
[submodule "shri/touch"]
	path = shri/touch
	url = https://github.com/bakoushin/shri-touch.git
	branch = master
[submodule "shri/css"]
	path = shri/css
	url = https://github.com/bakoushin/shri-css.git
	branch = master
[submodule "shri/multimedia"]
	path = shri/multimedia
	url = https://github.com/bakoushin/shri-multimedia.git
	branch = master
[submodule "shri/architecture"]
	path = shri/architecture
	url = https://github.com/bakoushin/shri-architecture.git
	branch = master
